<!DOCTYPE html>
<html>
  <head>
    <title>Game On!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<% include Common/Header.ejs %>
	<div class="jumbotron">
		<h1>StockTicker</h1>
		<p>Let's Play!</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="well"><% include Common/Table.ejs %></div>
			</div>
			<div class="col-sm-4">
				<div class="well">
					<h1>Hello></h1>
				
					<%- include('Common/player.ejs') %>
				</div>
			</div>
		</div>
	</div>




</body>
</html>