
<div class="list-group">
	<a class="list-group-item active"><%= title %></a> 
	<a class="list-group-item"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>     Oil</a> 
	<a class="list-group-item"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>     Grain</a>
	<a class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>     Industrial</a>
	<a class="list-group-item"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>     Silver</a>
	<a class="list-group-item"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>     Gold</a>
	<a class="list-group-item"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>     Bonds</a>
</div>